@model IEnumerable<ProjetoBackend.Models.Categoria>

@{
    ViewData["Title"] = "Categorias de Produtos";
}

<h1 class="fw-lighter">Categorias de Produtos</h1>

<div class="row">
    <div class="col-12 col-md-4">
        <p>
            <a asp-action="Create" class="btn btn-lg btn-secondary">Adicionar</a>
        </p>
    </div>

    <div class="col-12 col-md-4"></div>

    <div class="col-12 col-md-4">
        <form asp-action="Search" method="get">
            <input class="form-control-sm border-primary" type="text" name="nome" placeholder="Buscar categoria..." />
            <button type="submit" class="btn btn-lg btn-secondary"><ion-icon name="search"></ion-icon>Buscar</button>
        </form>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered border-info table-striped table-hover">
        <thead>
            <tr>
                <th class="bg-primary text-light">
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th class="bg-primary"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoriaId" class="btn btn-info">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.CategoriaId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>