@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <img src="img/rocoMoveisLogo2.png" alt="Roco Móveis Planejados" />
    <h2>Melhores móveis planejados de Itapuí e região!</h2>
</div>
