    @{
        ViewData["Title"] = "Página Inicial";
    }

    <div class="text-center">
    <img src="img/rocoMoveisLogo2.png" alt="Roco Móveis Planejados" />

    <div class="row">
        <div class="col-12 col-md-4">
            <img width="400" height="300" src="~/img/Cozinha.png" alt="Cozinha" />
        </div>

        <div class="col-12 col-md-4">
            <img width="400" height="300" src="~/img/Exterior.png" alt="Área Exterior" />
        </div>

        <div class="col-12 col-md-4">
            <img width="400" height="300" src="~/img/Banheiro.png" alt="Banheiro" />
        </div>
    </div>
</div>
