@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de resetar senhar";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por Favor, cheque seu email para confirmar a alteração de senha.
</p>
